body
{
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    color: #e7e7e7;    
    background: #0b163b url("../img/mainpage.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

/* Container */
.container
{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
}

/* Header */

.header
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #0d1a44;
    position: fixed;
}

.header_inner
{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

/* Nav */

.nav
{
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
}

.nav_link
{
    color: #e7e7e7;
    text-decoration: none;
    padding: 0 15px;
}

.nav_link:hover
{
    color: #aaaaaa;
    transition-duration: .2s;
}

.header_logo img 
{
    width: 250px;
}

/* Intro */

.intro
{
    height: 750px;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.intro_inner
{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.intro_title
{
    font-size: 80px;
    color: #e7e7e7;
    font-weight: 700;
    line-height: 1.1;
}

.intro_btn
{
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    color: #0b163b;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #e7e7e7;
    padding: 15px 45px;
    border-radius: 15px;
    transition: background .2s;

    border: 0;
    cursor: pointer;
}

.intro_btn:hover
{
    color: #123bcd;
    transition-duration: 0.2s; 
    background-color: #aaaaaa;
}



