body
{
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    color: #e7e7e7;    
    background: #0b163b url("../img/mainpage.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 
{
    margin: 0;
}



/* Container */



.container
{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
}



/* Header */



.header
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #0d1a44;
    position: fixed;
}

.header_inner
{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}



/* Nav */



.nav
{
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
}

.nav_link
{
    color: #e7e7e7;
    text-decoration: none;
    padding: 0 15px;
}

.nav_link:hover
{
    color: #aaaaaa;
    transition-duration: .2s;
}

.header_logo img 
{
    width: 250px;
}



/* Intro */



.intro
{
    height: 850px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.intro_inner
{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.intro_title
{
    font-size: 56px;
    color: #e7e7e7;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 50px;
}

.intro_subtitle
{
    font-size: 20px;
    color: #e7e7e7;
    font-weight: 300;
    line-height: 1.1;
}



/* Calculator */



.calculator
{
    color: #0b163b;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #e7e7e7;
    width: 900px;
    border-radius: 15px;
    margin: 20px 150px;
}

.functions
{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #e7e7e7;
    text-transform: uppercase;
}

.functions_button
{
    background-color: #0d1a44;
    display: flexbox;
    vertical-align: top;
    padding: 15px;
    border-radius: 15px;
    transition: .2s;
    width: 430px;
    margin: 10px 10px;
    text-align: center;

    border: 0;
    cursor: pointer;
}

.functions_button:hover
{
    background-color: #0b163b;
    transition-duration: 0.2s; 
    color: #aaaaaa;
}

.result
{
    display: flexbox;
    margin: 0 auto;
}

.result_text
{
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.result_sum
{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}

.result_button
{
    text-transform: uppercase;
    background-color: #0d1a44;
    color: #e7e7e7;
    padding: 15px;
    border-radius: 15px;
    transition: .2s;
    width: 200px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

    border: 0;
    cursor: pointer;
}

.result_button:hover
{
    background-color: #0b163b;
    transition-duration: 0.2s; 
    color: #aaaaaa;
}

.calculate_button
{
    text-transform: uppercase;
    background-color: #e7e7e7;
    color: #0d1a44;
    padding: 15px;
    border-radius: 15px;
    transition: .2s;
    width: 300px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 20px;

    border: 0;
    cursor: pointer;
}

.calculate_button:hover
{
    background-color: #aaaaaa;
    transition-duration: 0.2s; 
    color: #0b163b;
}



/* Options */












